#Led Pins
set_io o_LED_1 56 #IOR_56 PIO
set_io o_LED_2 57 #IOR_57 PIO
set_io o_LED_3 59 #IOR_58 PIO
set_io o_LED_4 60 #IOR_59 PIO

#Push Buttons
set_io i_Switch_1 53 #IOR_54 PIO
set_io i_Switch_2 51 #IOR_52 PIO
set_io i_Switch_3 54 #IOR_55 PIO
set_io i_Switch_4 52 #IOR_53 PIO

#Clock
set_io i_Clk 15